<mat-toolbar color="primary" class="app-toolbar">
  <span class="app-title" routerLink="/rooms" style="cursor: pointer">
    Hotel SPA
  </span>

  <span class="spacer"></span>

  <a mat-button routerLink="/rooms">Habitaciones</a>
  <a mat-button routerLink="/reservations" *ngIf="(currentUser$ | async)">Mis Reservas</a>

  <button mat-button color="accent" *ngIf="!(currentUser$ | async)" routerLink="/auth">
    Iniciar sesión
  </button>

  <button mat-button color="warn" *ngIf="(currentUser$ | async)" (click)="logout()">
    Cerrar sesión
  </button>
</mat-toolbar>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
